Hi <%= @user.first_name %>,

<p>Welcome to Just Call Tony, your one-stop shop for commercial building repairs.</p>

<p>
  As a Just Call Tony member you can now order any commercial building service anytime you need it.
  <br>
  It's as simple as entering the work description and clicking submit. From there, our super fantastic client service team will take over and manage the project through completion.
</p>
<p>
  To get started, follow this link to your management dashboard: <%= link_to "http://www.justcalltony.com/projects/", projects_url %>.
 </p>

