---
http_interactions:
- request:
    method: get
    uri: http://intranet.aanthonycorp.com/beta/Account_info.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://intranet.aanthonycorp.com/beta/Account_info\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://intranet.aanthonycorp.com/beta/Account_info\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://intranet.aanthonycorp.com/beta/Account_info\">\r\n
        \     <s:element name=\"Addaccount_info\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"username\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"password\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"1\" maxOccurs=\"1\" name=\"account_ID\" type=\"s:int\" />\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"account_name\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        n[...]
- request:
    method: post
    uri: http://intranet.aanthonycorp.com/beta/Account_info.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://intranet.aanthonycorp.com/beta/Account_info"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:Addaccount_info><tns:username>jct</tns:username><tns:password>j!ct2#</tns:password><tns:accountID>17684</tns:accountID><tns:accountName>jct-1</tns:accountName><tns:firstName
        xsi:nil="true"/><tns:lastName xsi:nil="true"/><tns:primaryPhone>02081233602</tns:primaryPhone><tns:address>Serious
        Fox, 6-8 Standard Place</tns:address><tns:city>London</tns:city><tns:state>London</tns:state><tns:zipcode>EC2A
        3BE</tns:zipcode></tns:Addaccount_info></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://intranet.aanthonycorp.com/beta/Account_info/Addaccount_info"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><Addaccount_infoResponse
        xmlns="http://intranet.aanthonycorp.com/beta/Account_info"><Addaccount_infoResult>Account
        Information stored successfully</Addaccount_infoResult></Addaccount_infoResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 24 Oct 2013 16:17:58 GMT
recorded_with: VCR 2.6.0
