---
http_interactions:
- request:
    method: get
    uri: http://intranet.aanthonycorp.com/beta/Project_Creation.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://intranet.aanthonycorp.com/beta/Project_Creation\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://intranet.aanthonycorp.com/beta/Project_Creation\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://intranet.aanthonycorp.com/beta/Project_Creation\">\r\n
        \     <s:element name=\"ADD_Projects\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"username\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"password\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"1\" maxOccurs=\"1\"
        name=\"account_ID\" type=\"s:int\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"description\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"startdate\" type=\"s:string\" />\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"User_email_id\"
        type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"ADD_ProjectsResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"ADD_ProjectsResult\">\r\n              <s:complexType>\r\n
        \               <s:sequence>\r\n                  <s:element ref=\"s:schema\"
        />\r\n                  <s:any />\r\n                </s:sequence>\r\n              </s:complexType>\r\n
        \           </s:element>\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n    </s:schema>\r\n  </wsdl:types>\r\n  <wsdl:message
        name=\"ADD_ProjectsSoapIn\">\r\n    <wsdl:part name=\"parameters\" element=\"tns:ADD_Projects\"
        />\r\n  </wsdl:message>\r\n  <wsdl:message name=\"ADD_ProjectsSoapOut\">\r\n
        \   <wsdl:part name=\"parameters\" element=\"tns:ADD_ProjectsResponse\" />\r\n
        \ </wsdl:message>\r\n  <wsdl:portType name=\"Project_Creation\">\r\n    <wsdl:operation
        name=\"ADD_Projects\">\r\n      <wsdl:input message=\"tns:ADD_ProjectsSoapIn\"
        />\r\n      <wsdl:output message=\"tns:ADD_ProjectsSoapOut\" />\r\n    </wsdl:operation>\r\n
        \ </wsdl:portType>\r\n  <wsdl:binding name=\"Project_Creation\" type=\"tns:Project_Creation\">\r\n
        \   <soap:binding transport=\"http://schemas.xmlsoap.org/soap/http\" />\r\n
        \   <wsdl:operation name=\"ADD_Projects\">\r\n      <soap:operation soapAction=\"http://intranet.aanthonycorp.com/beta/Project_Creation/ADD_Projects\"
        style=\"document\" />\r\n      <wsdl:input>\r\n        <soap:body use=\"literal\"
        />\r\n      </wsdl:input>\r\n      <wsdl:output>\r\n        <soap:body use=\"literal\"
        />\r\n      </wsdl:output>\r\n    </wsdl:operation>\r\n  </wsdl:binding>\r\n
        \ <wsdl:binding name=\"Project_Creation1\" type=\"tns:Project_Creation\">\r\n
        \   <soap12:binding transport=\"http://schemas.xmlsoap.org/soap/http\" />\r\n
        \   <wsdl:operation name=\"ADD_Projects\">\r\n      <soap12:operation soapAction=\"http://intranet.aanthonycorp.com/beta/Project_Creation/ADD_Projects\"
        style=\"document\" />\r\n      <wsdl:input>\r\n        <soap12:body use=\"literal\"
        />\r\n      </wsdl:input>\r\n      <wsdl:output>\r\n        <soap12:body use=\"literal\"
        />\r\n      </wsdl:output>\r\n    </wsdl:operation>\r\n  </wsdl:binding>\r\n
        \ <wsdl:service name=\"Project_Creation\">\r\n    <wsdl:port name=\"Project_Creation\"
        binding=\"tns:Project_Creation\">\r\n      <soap:address location=\"http://intranet.aanthonycorp.com/beta/Project_Creation.asmx\"
        />\r\n    </wsdl:port>\r\n    <wsdl:port name=\"Project_Creation1\" binding=\"tns:Project_Creation1\">\r\n
        \     <soap12:address location=\"http://intranet.aanthonycorp.com/beta/Project_Creation.asmx\"
        />\r\n    </wsdl:port>\r\n  </wsdl:service>\r\n</wsdl:definitions>"
  recorded_at: Thu, 07 Nov 2013 16:34:38 GMT
- request:
    method: post
    uri: http://intranet.aanthonycorp.com/beta/Project_Creation.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://intranet.aanthonycorp.com/beta/Project_Creation"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:ADD_Projects><tns:username>jct</tns:username><tns:password>j!ct2#</tns:password><tns:account_ID>0</tns:account_ID><tns:description>A
        test project</tns:description><tns:startdate>11/10/2013</tns:startdate><tns:User_email_id>email-5qbkcc2y5sp1kvvfi/rgrg==-4@example.local</tns:User_email_id></tns:ADD_Projects></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://intranet.aanthonycorp.com/beta/Project_Creation/ADD_Projects"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><ADD_ProjectsResponse
        xmlns="http://intranet.aanthonycorp.com/beta/Project_Creation"><ADD_ProjectsResult><xs:schema
        id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"><xs:element
        name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true"><xs:complexType><xs:choice
        minOccurs="0" maxOccurs="unbounded"><xs:element name="projectinfo"><xs:complexType><xs:sequence><xs:element
        name="account_ID" type="xs:string" minOccurs="0" /><xs:element name="project_ID"
        type="xs:string" minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:choice></xs:complexType></xs:element></xs:schema><diffgr:diffgram
        xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1"><NewDataSet
        xmlns=""><projectinfo diffgr:id="projectinfo1" msdata:rowOrder="0" diffgr:hasChanges="inserted"><account_ID>17729</account_ID><project_ID>13.016.833</project_ID></projectinfo></NewDataSet></diffgr:diffgram></ADD_ProjectsResult></ADD_ProjectsResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 07 Nov 2013 16:34:40 GMT
- request:
    method: get
    uri: http://intranet.aanthonycorp.com/beta/Account_info.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/t[...]
- request:
    method: post
    uri: http://intranet.aanthonycorp.com/beta/Account_info.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://intranet.aanthonycorp.com/beta/Account_info"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:Addaccount_info><tns:username>jct</tns:username><tns:password>j!ct2#</tns:password><tns:accountID>17729</tns:accountID><tns:accountName>jct-4</tns:accountName><tns:firstName
        xsi:nil="true"/><tns:lastName xsi:nil="true"/><tns:primaryPhone>02081233602</tns:primaryPhone><tns:address>Serious
        Fox, 6-8 Standard Place</tns:address><tns:city>London</tns:city><tns:state>London</tns:state><tns:zipcode>EC2A
        3BE</tns:zipcode></tns:Addaccount_info></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://intranet.aanthonycorp.com/beta/Account_info/Addaccount_info"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><Addaccount_infoResponse
        xmlns="http://intranet.aanthonycorp.com/beta/Account_info"><Addaccount_infoResult>Account
        Information stored successfully</Addaccount_infoResult></Addaccount_infoResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 07 Nov 2013 16:34:41 GMT
recorded_with: VCR 2.6.0
