---
http_interactions:
- request:
    method: get
    uri: http://intranet.aanthonycorp.com/beta/Project_Details.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://intranet.aanthonycorp.com/beta/Project_Details\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://intranet.aanthonycorp.com/beta/Project_Details\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://intranet.aanthonycorp.com/beta/Project_Details\">\r\n
        \     <s:element name=\"Projects_detail\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"username\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"password\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"Pcode\" type=\"s:string\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:element name=\"Projects_detailResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"Projects_detailResult\">\r\n              <s:complexType>\r\n
        \               <s:sequence>\r\n                  <s:element ref=\"s:schema\"
        />\r\n                  <s:any />\r\n                </s:sequence>\r\n              </s:complexType>\r\n
        \           </s:element>\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n    </s:schema>\r\n  </wsdl:types>\r\n  <wsdl:message
        name=\"Projects_detailSoapIn\">\r\n    <wsdl:part name=\"parameters\" element=\"tns:Projects_detail\"
        />\r\n  </wsdl:message>\r\n  <wsdl:message name=\"Projects_detailSoapOut\">\r\n
        \   <wsdl:part name=\"parameters\" element=\"tns:Projects_detailResponse\"
        />\r\n  </wsdl:message>\r\n  <wsdl:portType name=\"Project_Details\">\r\n
        \   <wsdl:operation name=\"Projects_detail\">\r\n      <wsdl:input message=\"tns:Projects_detailSoapIn\"
        />\r\n      <wsdl:output message=\"tns:Projects_detailSoapOut\" />\r\n    </wsdl:operation>\r\n
        \ </wsdl:portType>\r\n  <wsdl:binding name=\"Project_Details\" type=\"tns:Project_Details\">\r\n
        \   <soap:binding transport=\"http://schemas.xmlsoap.org/soap/http\" />\r\n
        \   <wsdl:operation name=\"Projects_detail\">\r\n      <soap:operation soapAction=\"http://intranet.aanthonycorp.com/beta/Project_Details/Projects_detail\"
        style=\"document\" />\r\n      <wsdl:input>\r\n        <soap:body use=\"literal\"
        />\r\n      </wsdl:input>\r\n      <wsdl:output>\r\n        <soap:body use=\"literal\"
        />\r\n      </wsdl:output>\r\n    </wsdl:operation>\r\n  </wsdl:binding>\r\n
        \ <wsdl:binding name=\"Project_Details1\" type=\"tns:Project_Details\">\r\n
        \   <soap12:binding transport=\"http://schemas.xmlsoap.org/soap/http\" />\r\n
        \   <wsdl:operation name=\"Projects_detail\">\r\n      <soap12:operation soapAction=\"http://intranet.aanthonycorp.com/beta/Project_Details/Projects_detail\"
        style=\"document\" />\r\n      <wsdl:input>\r\n        <soap12:body use=\"literal\"
        />\r\n      </wsdl:input>\r\n      <wsdl:output>\r\n        <soap12:body use=\"literal\"
        />\r\n      </wsdl:output>\r\n    </wsdl:operation>\r\n  </wsdl:binding>\r\n
        \ <wsdl:service name=\"Project_Details\">\r\n    <wsdl:port name=\"Project_Details\"
        binding=\"tns:Project_Details\">\r\n      <soap:address location=\"http://intranet.aanthonycorp.com/beta/Project_Details.asmx\"
        />\r\n    </wsdl:port>\r\n    <wsdl:port name=\"Project_Details1\" binding=\"tns:Project_Details1\">\r\n
        \     <soap12:address location=\"http://intranet.aanthonycorp.com/beta/Project_Details.asmx\"
        />\r\n    </wsdl:port>\r\n  </wsdl:service>\r\n</wsdl:definitions>"
  recorded_at: Fri, 25 Oct 2013 10:15:23 GMT
- request:
    method: post
    uri: http://intranet.aanthonycorp.com/beta/Project_Details.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://intranet.aanthonycorp.com/beta/Project_Details"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:Projects_detail><tns:username>jct</tns:username><tns:password>j!ct2#</tns:password><tns:Pcode>13.016.802</tns:Pcode></tns:Projects_detail></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://intranet.aanthonycorp.com/beta/Project_Details/Projects_detail"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><Projects_detailResponse
        xmlns="http://intranet.aanthonycorp.com/beta/Project_Details"><Projects_detailResult><xs:schema
        id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"><xs:element
        name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true"><xs:complexType><xs:choice
        minOccurs="0" maxOccurs="unbounded"><xs:element name="Table"><xs:complexType><xs:sequence><xs:element
        name="projectcode" type="xs:string" minOccurs="0" /><xs:element name="Startdate"
        type="xs:string" minOccurs="0" /><xs:element name="daysopen" type="xs:int"
        minOccurs="0" /><xs:element name="Status" type="xs:string" minOccurs="0" /><xs:element
        name="Description" type="xs:string" minOccurs="0" /><xs:element name="location"
        type="xs:string" minOccurs="0" /><xs:element name="contactname" type="xs:string"
        minOccurs="0" /><xs:element name="contactemail" type="xs:string" minOccurs="0"
        /><xs:element name="contactphone" type="xs:string" minOccurs="0" /><xs:element
        name="managername" type="xs:string" minOccurs="0" /><xs:element name="mobile"
        type="xs:string" minOccurs="0" /><xs:element name="email" type="xs:string"
        minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:choice></xs:complexType></xs:element></xs:schema><diffgr:diffgram
        xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1"><NewDataSet
        xmlns=""><Table diffgr:id="Table1" msdata:rowOrder="0"><projectcode>13.016.802</projectcode><Startdate>10/27/2013</Startdate><daysopen>-2</daysopen><Status>Active</Status><Description>A
        test project</Description><location /><contactphone /></Table></NewDataSet></diffgr:diffgram></Projects_detailResult></Projects_detailResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 25 Oct 2013 10:15:24 GMT
recorded_with: VCR 2.6.0
