<section class="help-center-search fullwidth-bg below-nav">
  <div class="row help-center-row">
    <div class="help-center">
      <input type="text" placeholder="Search the Help Center...">
      <a href="#" class="button yellow">Help</a>
    </div>
  </div>
</section>

<section class="contact-form fullwidth-bg">
  <div class="row">
    <div class="large-8 large-offset-2">
      <div class="large-7 columns">
        <h2>Contact Us.</h2>
        <form>
          <strong>Personal Information</strong>
          <input type="text" placeholder="Name">
          <input type="text" placeholder="Email address">

          <strong class="with-top-margin">Message</strong>
          <input type="text" placeholder="Subject">
          <textarea placeholder="Your message"></textarea>

          <input type="submit" class="button yellow" value="Send">
        </form>
      </div>

      <div class="large-5 columns got-your-back">
        <strong>We've got your back.</strong>
        <p>
          Have a question or need help? Our <a href="help-center.html">Help Center</a> can help you
          get answers to your questions fast and easy.
        </p>
      </div>
    </div>
  </div>
</section>