<section class="help-center-search help-center fullwidth-bg below-nav">
  <div class="row">
    <div class="title-wrapper center">
      <span class="small-title top-padding">Help Center</span>
      <h2>We're here to help. Fast.</h2>
    </div>
  </div>
  
  <div class="row help-center-row">
    <div class="help-center">
      <input type="text" placeholder="Search the Help Center...">
      <a href="#" class="button yellow">Help</a>
    </div>
  </div>
</section>

<section class="articles-wrapper fullwidth-bg">
  <div class="row">
    <div class="title-wrapper center">
      <span class="small-title top-padding">All Articles</span>
      <div class="large-10 columns large-offset-1">
        <hr>
      </div>
    </div>
    <div class="large-10 columns large-offset-1">
      <div class="large-6 columns">
        <h2>Account</h2>
        <ul>
          <li><a href="#">How to get started</a></li>
          <li><a href="#">How do I know if someone connects to my hotspot?</a></li>
        </ul>
      </div>
      <div class="large-6 columns">
        <h2>Billing &#38; Payment</h2>
        <ul>
          <li><a href="#">How do I automatically add data to my account?</a></li>
          <li><a href="#">What forms of payment does Karma accept?</a></li>
        </ul>
      </div>
      
      <div class="large-6 columns">
        <h2>Connection &#38; Network</h2>
        <ul>
          <li><a href="#">How to get started</a></li>
          <li><a href="#">How do I know if someone connects to my hotspot?</a></li>
        </ul>
      </div>
      <div class="large-6 columns">
        <h2>Data</h2>
        <ul>
          <li><a href="#">How do I automatically add data to my account?</a></li>
          <li><a href="#">What forms of payment does Karma accept?</a></li>
        </ul>
      </div>
      <div class="not-found fullwidth-bg">
        <hr>
        <span>Can't find what you're looking for? <a href="contact.html">Contact Us &#187;</a></span>
      </div>
    </div>
  </div>
</section>
