<section class="pricing-program fullwidth-bg below-nav">
  <div class="row">
    <div class="large-8 large-offset-2">
      <div class="content">
        <h1 class="medium-title">Our &#36;500 Not-to-Exceed program</h1>
        <p>
          90&#37; of the projects we do cost less than &#36;500. That's why we set a Not-to-Exceed
          (NTE) limit of &#36;500. That means if it costs less than &#36;500, you give us the
          authority to get the repair done. If it exceeds $500, nothing gets done without your
          pre-approval. We'll contact you to review the estimate, and only after you approve is
          the work completed.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-10 large-offset-1">
      <div class="large-4 columns">
        <div class="info-box first">
          <span class="icon">&nbsp;</span>
          <p>All orders have a Not-to-Exceed limit of &#36;500</p>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="info-box second">
          <span class="icon">&nbsp;</span>
          <p>If your order exceeds &#36;500, we will call for approval</p>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="info-box third">
          <span class="icon">&nbsp;</span>
          <p>There is no contract required to submit any work orders</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pricing-hero fullwidth-bg">
  <div class="row">
    <div class="large-12 pricing-content">
      <section class="pricing strapline">
        <h1>
          No strings attached.<br>
          Simple pricing suited for one-off facility projects.
        </h1>
        <div class="buttons">
          <a href="#" class="button yellow" data-reveal-id="register-modal">Register <span>.</span> It's Free</a>
        </div>
      </section>
    </div>
  </div>
</section>


<section class="questions-wrapper fullwidth-bg">
  <div class="row">
    <div class="large-12 columns">
      <div class="title-wrapper">
        <span class="small-title top-padding">Common Questions</span>
      </div>

      <div class="large-3 columns first">
        <strong>How much does it cost?</strong>
        <p>
          90&#37; of our work orders cost less that &#36;500, and all orders have a “Not to Exceed”
          amount of &#36;500. If a work order is more than that, we contact you for approval before
          anything is done.
        </p>
        <a href="#">Learn more about pricing</a>
      </div>
      <div class="large-3 columns">
        <strong>Are your suppliers insured?</strong>
        <p>
          Our network of certified suppliers are fully insured and continuously evaluated for proper
          and up to date coverage.
        </p>
      </div>
      <div class="large-3 columns">
        <strong>Who do i contact if i need help?</strong>
        <p>
          We're always available to answer any of your questions by phone, email or your dashboard.
          And, you have access to your own dedicated Project Manager.
        </p>
        <a href="contact.html">Learn more about customer service</a>
      </div>
      <div class="large-3 columns">
        <strong>Is my payment info safe?</strong>
        <p>
          Absolutely! We know how important your information is. That’s why we take all necessary
          precautions to protect your data.
        </p>
      </div>
    </div>
  </div>
</section>