<section class="terms-wrapper fullwidth-bg below-nav">
  <div class="row">
    <div class="large-4 columns sidebar">
      <ul class="side-nav">
        <li id="title-1"><a href="#part-1">1. Introduction</a></li>
        <li id="title-2"><a href="#part-2">2. Acknowledgement and Acceptance</a></li>
        <li id="title-3"><a href="#part-3">3. Use and Age Restrictions</a></li>
        <li id="title-4"><a href="#part-4">4. Service Requests</a></li>
        <li id="title-5"><a href="#part-5">5. Vendors & Suppliers</a></li>
        <li id="title-6"><a href="#part-6">6. Licensing</a></li>
        <li id="title-7"><a href="#part-7">7. Proprietary Rights</a></li>
        <li id="title-8"><a href="#part-8">8. Copyright Policy</a></li>
        <li id="title-9"><a href="#part-9">9. Reliance on Content, Etc.</a></li>
        <li id="title-10"><a href="#part-10">10. Documents and Information Available on this Website</a></li>
        <li id="title-11"><a href="#part-11">11.Information You Provide to Justcalltony</a></li>
        <li id="title-12"><a href="#part-12">12. Termination of Account</a></li>
        <li id="title-13"><a href="#part-13">13. Justcalltony Customer Care Representative</a></li>
        <li id="title-14"><a href="#part-14">14. Modifications to Website</a></li>
        <li id="title-15"><a href="#part-15">15. Blocking of IP Addresses</a></li>
        <li id="title-16"><a href="#part-16">16. Disclaimers</a></li>
        <li id="title-17"><a href="#part-17">17. Links</a></li>
        <li id="title-18"><a href="#part-18">18. Jurisdiction and Choice of Law</a></li>
        <li id="title-19"><a href="#part-19">19. Dispute Resolution</a></li>
        <li id="title-20"><a href="#part-20">20. Indemnification</a></li>
        <li id="title-21"><a href="#part-21">21. Survival</a></li>
      </ul>
    </div>

    <div class="large-8 columns">
      <div class="content">
        <h1 class="medium-title terms-title" data-title="title-1" id="part-1"><span class="number">1.</span> Introduction</h1>
        <hr>
        <p>
          Thank you for your interest in Justcalltony.com, an Internet platform (“Website”) owned and operated 
          by A.Anthony Corp. a Delaware corporation (“Justcalltony,” “we,” or “us”). Justcalltony provides 
          commercial customers an online venue to work and services from service providers and professionals 
          in various lines of work and commerce (collectively “Vendors or Suppliers”). By registering on the 
          Website, you may become a Customer at no cost and will have the ability to request services. 
          References to Websites shall include, but is not limited to, any and all uses of Justcalltony.com 
          via mobile applications, mobile devices, personal computers, email, telephones or other electronic 
          devices.
        </p>
        <h1 class="medium-title terms-title" data-title="title-2" id="part-2"><span class="number">2.</span> Acknowledgement and Acceptance</h1>
        <hr>
        <p>
          This Website and Justcalltony’s services are offered to you for use only in the United States and 
          are conditioned upon your acceptance without modification, of the following terms, conditions, and 
          notices contained in this Justcalltony Customer Agreement (“Agreement”). Please read this Agreement 
          carefully. Regardless of whether you register with the Website, your use of the Website and any 
          related services constitute your agreement to all such terms, conditions, and notices. You agree 
          and understand that certain features of the Website may be subject to additional terms and conditions 
          or registration requirements. You agree to abide by these additional terms, and you further agree 
          that a violation of those terms while you are accessing the Website shall constitute a breach of 
          this Agreement. This Agreement also includes Justcalltony’s Privacy Policy and any notices regarding 
          the Website.
        </p>
        <p>
          You acknowledge and agree that Justcalltony may amend this Agreement at any time by posting a revised 
          version of this Agreement on the Website or by notifying Customers directly in Justcalltony’s sole 
          discretion. Your continued use of the Website after any such changes are made to this Agreement shall 
          constitute your consent to such changes. Justcalltony does not and will not assume any obligation to 
          notify Customers of any changes to this Agreement, or the creation or modification of any additional 
          terms. You are responsible for remaining knowledgeable about the terms, conditions and notices of 
          the Agreement.
        </p>
        <h1 class="medium-title terms-title" data-title="title-3" id="part-3"><span class="number">3.</span> Use and Age Restrictions</h1>
        <hr>
        <p>
          Use of the Website is permitted only by individuals who can form legally binding contracts under 
          applicable Law. Without limiting the foregoing, use of the Justcalltony Website is not permitted by 
          anyone under the age of 18. If you do not qualify, please do not use the Website.
        </p>
        <h1 class="medium-title terms-title" data-title="title-4" id="part-4"><span class="number">4.</span> Service Requests</h1>
        <hr>
        <p>
          Upon registration with Justcalltony, a Customer may submit through the Website a request for service 
          or work (“Work Order”) from Justcalltony. Customers must provide required information (e.g., what they 
          want done, when they want it done, where they want it done) to submit a valid Work Order. All Work 
          Orders posted through the Website must be lawful and not in violation of any city ordinance, state, 
          local or federal law. A submitted Work Order must be descriptive enough to allow Justcalltony to 
          ascertain the necessary details to submit for service.  After submission of a Work Order, Justcalltony 
          will inform the appropriate vender/supplier with profiles that match the services requested by the 
          customer. When submitting a Work Order, ensure that the Work Order does not infringe upon the copyright, 
          trademark or other rights of any third party. By posting a Work Order you represent that the Work Order 
          is lawful and does not infringe on the intellectual property of any third party. Your description of the 
          Work Order must be truthful and accurate. Any Work Order posted on the Website: (a) shall not be 
          fraudulent; (b) shall not infringe on any third party’s copyright, patent, trademark, trade secret or 
          other proprietary rights or rights of publicity or privacy; (c) shall not violate any law, statute, 
          ordinance or regulation (including without limitation those governing export control, consumer 
          protection, unfair competition, anti-discrimination or false advertising); (d) shall not be defamatory, 
          trade libelous, unlawfully threatening or unlawfully harassing; (e) shall not be obscene or contain 
          child pornography; and (f) shall not contain any viruses, Trojan horses, worms, time bombs, cancel 
          bots or other computer programming routines that are intended to damage, detrimentally interfere with, 
          surreptitiously intercept or expropriate any system, data or personal information.
        </p>
        <h1 class="medium-title terms-title" data-title="title-5" id="part-5"><span class="number">5.</span> Vendors &#38; Suppliers</h1>
        <hr>
        <p>
          In registering with Justcalltony, Venders &#38; Suppliers represent that they are duly licensed 
          (if applicable) and have the qualifications, experience and ability to properly perform their offered 
          services. All Vendors &#38; Suppliers are within A. Anthony Corp’s certified network of Vendors &#38; 
          Suppliers.
        </p>
        <h1 class="medium-title terms-title" data-title="title-6" id="part-6"><span class="number">6.</span> Licensing</h1>
        <hr>
        <p>
          Justcalltony verifies the licensing information submitted for all Vendors and Suppliers. Different 
          jurisdictions may require state and/or local level licensing for certain services, work, and/or project 
          amounts. Customers are responsible for determining which licenses, if any, are required for their 
          requested services.
        </p>
        <h1 class="medium-title terms-title" data-title="title-7" id="part-7"><span class="number">7.</span> Proprietary Rights</h1>
        <hr>
        <p>
          This Website and the material within it, with exception of User Content as defined below, are the property 
          of A. Anthony Corp. Viewing this Website creates a copy of Justcalltony materials in your computer’s 
          random access memory and/or your hard drive and/or in your proxy server. The Website contains the 
          copyrighted material, trademarks, service marks, logos and other proprietary information (the “Intellectual 
          Property”) of A.Anthony Corp. and Justcalltony. Nothing on this Website should be construed as granting, by 
          implication, estoppel or otherwise, any license or right to use any Intellectual Property displayed on the 
          Website, without the prior written permission of the Intellectual Property owner. Other product and company 
          names mentioned in this Website may be the Intellectual Property of their respective owners.
        </p>
        <h1 class="medium-title terms-title" data-title="title-8" id="part-8"><span class="number">8.</span> Copyright Policy</h1>
        <hr>
        <p>
          Except for that information which is in the public domain, you may not post, copy, modify, publish, transmit
          , distribute, perform, display, sell or reproduce in any way any Intellectual Property without obtaining the 
          prior written consent of the owner of such Intellectual Property. Justcalltony can remove any User Content 
          you post on the Website if it violates this statement. If you believe that your work has been copied and 
          posted on the Website in a way that constitutes infringement, please provide our Copyright Agent with the 
          following information: an electronic or physical signature of the person authorized to act on behalf of the 
          owner of the interest; a description of the work that you claim has been infringed; a description of where 
          the material that you claim is infringing is located on the Website; your address, telephone number, and 
          email address; a written statement by you that you have a good faith belief that the disputed use is not 
          authorized by the owner, its agent, or the law; a statement by you, made under penalty of perjury, that the 
          above information in your notice is accurate and that you are the owner or authorized to act on the owner’s 
          behalf. Copyright Agent for notice of claims of infringement can be reached as follows: A.Anthony Corp.
        </p>   
        <h1 class="medium-title terms-title" data-title="title-9" id="part-9"><span class="number">9.</span> Reliance on Content, Etc.</h1>
        <hr>
        <p>
          Opinions, advice, statements, reviews, offers, or other information or User Content made available through 
          the Website, but not directly by Justcalltony, are those of their respective authors, and should not 
          necessarily be relied upon. Such authors are solely responsible for such User Content. Justcalltony does not: 
          (i) guarantee the accuracy, completeness, or usefulness of any information on the Website; or (ii) adopt, 
          endorse or accept responsibility for the accuracy or reliability of any opinion, advice, or statement made 
          by any party that appears on the Website. Under no circumstances will Justcalltony or its affiliates be 
          responsible for any loss or damage resulting from your reliance on information or other content posted on 
          the Website or transmitted to or by any Users.
        </p>
        <h1 class="medium-title terms-title" data-title="title-10" id="part-10"><span class="number">10.</span> Documents and Information Available on this Website</h1>
        <hr>
        <p>
          Permission to use documents (such as press releases, datasheets, content, informational items and FAQs) from 
          the Website is granted, provided that (1) the Copyright Policy above and this paragraph are included with such 
          documents, (2) use of such documents from the Website is for your informational and non-commercial or personal 
          use only and will not be copied or posted on any network computer or broadcast in any media, and (3) no 
          modifications of any documents are made. Use for any other purpose is expressly prohibited by law, and may result 
          in severe civil and criminal penalties. Violators will be prosecuted to the maximum extent possible. Documents 
          specified above do not include the design or layout of the Justcalltony Website or any other Justcalltony owned, 
          operated, licensed or controlled site (the “Justcalltony Websites”). Elements of Justcalltony Websites are 
          protected by trade dress, trademark, unfair competition, and other laws and may not be copied or imitated in 
          whole or in part. No logo, graphic, sound or image from any Justcalltony Website may be copied or retransmitted 
          unless expressly permitted by Justcalltony.
        </p>
        <h1 class="medium-title terms-title" data-title="title-11" id="part-11"><span class="number">11.</span> Information You Provide to Justcalltony</h1>
        <hr>
        <p>
          Upon using or registering for an account on the Website, you will be prompted to disclose certain information 
          about yourself and your service requirements if you request services. Some of this information will be sent to 
          Service Providers, who will need this information to respond to you or to other persons or entities in connection 
          with the Website. By providing this information to Justcalltony, or by submitting an Order Request, you are 
          requesting, and you expressly consent to having details of your Order Request sent to Vendors/Suppliers. You 
          further consent to Justcalltony’s use and display on the Website of anonymous data records from information 
          collected from your Order Request, including your first name and the nature of the services you requested in 
          your city. Such information helps other Customers evaluate and utilize Justcalltony’s services.
        </p>
        <p>
          If you place an order request with Justcalltony we will send additional identifying information such as your 
          full name, contact phone number, email address, and physical address of the job location to the Vendor/Supplier 
          who will be performing the work. This information will be sent to the Vendor/Supplier who will be doing the work 
          even if you are listed on any federal, state, provincial or other applicable “Do Not Call” list, in order that 
          Justcalltony may provide the services set forth on the Website, to service your account, to reasonably address 
          matters pertaining to your account or for other purposes reasonably related to your Order Request and 
          Justcalltony’s business, including marketing related emails. You promise that all information you provide will 
          be accurate, current and truthful to the best of your knowledge. If you provide any information that is untrue, 
          not current or incomplete, or Justcalltony has reasonable grounds to suspect that such information is untrue, 
          inaccurate, not current or incomplete, Justcalltony has the right to refuse any current or future use of the 
          Justcalltony services (or any portion thereof) by you. You are responsible for maintaining the confidentiality 
          of your account password. You are also responsible for all activities that occur in connection with your account. 
          You agree to notify us immediately of any unauthorized use of your account. In the event that you provide 
          Justcalltony with any feedback regarding the Justcalltony service or the Website, including without limitation, 
          any flaws, errors, bugs, anomalies, problems with and/or suggestions for the service or the Website (“Feedback”), 
          you hereby assign to Justcalltony all rights in the Feedback, including but not limited to, the right to use such 
          Feedback and related information in any manner we deem appropriate.
        </p>
        <h1 class="medium-title terms-title" data-title="title-12" id="part-12"><span class="number">12.</span> Termination of Account</h1>
        <hr>
        <p>
          This Agreement will remain in full force and effect while you use the Website and/or are a Customer of Justcalltony. 
          You may terminate your account at any time, for any reason. To cancel an account, please send a written notice of 
          termination to A.Anthony Corp. 115 West 7th Street, Suite 300 Charlotte, NC 28202 or email notice of termination 
          to info@Justcalltony.com. If you terminate your account, your account will be disabled within 14 days. Justcalltony 
          may terminate your account or this Agreement at any time, with or without cause, by sending notice to you at the 
          email address you provide in your account registration, or such other email address as you may later provide to 
          Justcalltony. All decisions regarding the termination of accounts shall be made in the sole discretion of 
          Justcalltony. Justcalltony is not required to provide you notice prior to terminating your account. Justcalltony 
          is not required, and may be prohibited, from disclosing a reason for the termination of your account. Even after 
          your account is terminated, this Agreement will remain in effect.
        </p>
        <h1 class="medium-title terms-title" data-title="title-13" id="part-13"><span class="number">13.</span> Justcalltony Customer Care Representative</h1>
        <hr>
        <p>
          Justcalltony may provide assistance and guidance through customer care representatives. When communicating with 
          our customer care representatives, you may not be abusive, obscene, profane, offensive, sexist, threatening, 
          harassing, and racially offensive or otherwise behave inappropriately. If we feel that your behavior toward any 
          of our customer care representatives or other employees is at any time threatening or offensive, we reserve the 
          right to immediately terminate your account. You acknowledge and agree that Justcalltony may monitor and/or record 
          any telephone calls between you and Justcalltony.
        </p>
        <h1 class="medium-title terms-title" data-title="title-14" id="part-14"><span class="number">14.</span> Modifications to Website</h1>
        <hr>
        <p>
          Justcalltony reserves the right at any time to modify or discontinue, temporarily or permanently, the Website (or 
          any part thereof) with or without notice. You agree that Justcalltony shall not be liable to you or to any third 
          party for any modification, suspension or discontinuance of the Website.
        </p>
        <h1 class="medium-title terms-title" data-title="title-15" id="part-15"><span class="number">15.</span> Blocking of IP Addresses</h1>
        <hr>
        <p>
          In order to protect the integrity of the Website, Justcalltony reserves the right at any time in its sole discretion 
          to block Users from certain IP addresses from accessing the Website.
        </p>
        <h1 class="medium-title terms-title" data-title="title-16" id="part-16"><span class="number">16.</span> Disclaimers</h1>
        <hr>
        <p>
          Justcalltony is not responsible for any incorrect or inaccurate content posted on the Website or in connection with 
          the Website, whether caused by Users of the Website, or by any of the equipment or programming associated with or 
          utilized in the Website. Justcalltony is not responsible for the conduct, whether online or offline, of any Customer
          , Service Provider or other third-party users of the Website. Justcalltony assumes no responsibility for any error, 
          omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or 
          destruction or unauthorized access to, or alteration of, User communications. Justcalltony is not responsible for 
          any problems or technical malfunction of any telephone network or lines, computer online systems, servers or providers
          , computer equipment, software, failure of email or players on account of technical problems or traffic congestion on 
          the Internet or at any Website or combination thereof, including injury or damage to Users or to any other person’s 
          computer related to or resulting from participating or downloading materials in connection with the Web and/or in 
          connection with the Website. Under no circumstances will Justcalltony or any of its affiliates, advertisers, promoters 
          or distribution partners be responsible for any loss or damage, including personal injury or death, resulting from 
          anyone’s use of the Justcalltony Websites, any content posted on the Website or transmitted to Users, or any 
          interactions between Users of the Website, whether online or offline. The Justcalltony Websites are provided “AS-IS” 
          and Justcalltony expressly disclaims any warranty of fitness for a particular purpose or non-infringement. 
        </p>
        <p>
          In addition to the preceding paragraph and other provisions of this Agreement, any advice that may be posted on the 
          Website is for informational and entertainment purposes only and is not intended to replace or substitute for any 
          professional financial, medical, legal, or other advice. Justcalltony makes no representations or warranties and 
          expressly disclaims any and all liability concerning any treatment, action by, or effect on any person following 
          the information offered or provided within or through the Website. If you have specific concerns or a situation 
          arises in which you require professional or medical advice, you should consult with an appropriately trained and 
          qualified specialist.
        </p>
        <h1 class="medium-title terms-title" data-title="title-17" id="part-17"><span class="number">17.</span> Links</h1>
        <hr>
        <p>
          The Website may provide, or third parties may provide, links to other World Wide Web sites or resources, including, 
          by way of example, the placement of a widget or live feed from a customer ratings website. Because Justcalltony has 
          no control over such sites and resources, you acknowledge and agree that Justcalltony is not responsible for the 
          availability of such external sites or resources, and does not endorse and is not responsible or liable for any 
          content, advertising, products or other materials on or available from such sites or resources. You further acknowledge 
          and agree that Justcalltony shall not be responsible or liable, directly or indirectly, for any damage or loss caused 
          or alleged to be caused by or in connection with the use of, or reliance upon, any such content, goods or services 
          available on or through any such site or resource.
        </p>
        <h1 class="medium-title terms-title" data-title="title-18" id="part-18"><span class="number">18.</span> Jurisdiction and Choice of Law</h1>
        <hr>
        <p>
          If there is any dispute arising out of this Agreement or the use of the Website, by using the Website you expressly 
          agree that any such dispute shall be governed by the laws of the State of North Carolina, without regard to its 
          conflict of law provisions, and you expressly agree and consent to the exclusive jurisdiction and venue of the 
          Superior Court of Mecklenburg County, North Carolina for the resolution of any such dispute.
        </p>
        <h1 class="medium-title terms-title" data-title="title-19" id="part-19"><span class="number">19.</span> Dispute Resolution</h1>
        <hr>
        <p>
          At the sole option of Justcalltony, any claim, dispute or controversy arising out of, relating to or concerning 
          in any way the Agreement or use of the Website shall be resolved by binding arbitration administered by the 
          American Arbitration Association (“AAA”) under its commercial arbitration rules. The decisions of the arbitrators 
          shall be binding and conclusive upon all parties involved, and judgment upon any arbitration award may be entered 
          by any court having competent jurisdiction. Each party shall bear its own costs, fees, and expenses associated 
          with any arbitration, except that the parties agree to split equally the costs and expenses of the arbitrator/AAA. 
          Justcalltony may elect, in its sole discretion, not to use arbitration for any individual Claim that you properly 
          file and pursue in court. IF ARBITRATION IS CHOSEN BY JUSTCALLTONY WITH RESPECT TO A CLAIM, YOU WILL NOT HAVE THE 
          RIGHT TO LITIGATE THE CLAIM IN COURT, HAVE A JURY TRIAL, OR ENGAGE IN PRE-ARBITRATION DISCOVERY EXCEPT AS PROVIDED 
          FOR IN THE AAA CODE OF PROCEDURES. FURTHER, YOU WILL NOT HAVE THE RIGHT TO PARTICIPATE IN ANY CLASS OF CLAIMANTS 
          PERTAINING TO ANY CLAIM SUBJECT TO ARBITRATION. OTHER RIGHTS THAT YOU WOULD HAVE IF YOU WENT TO COURT MAY ALSO NOT 
          BE AVAILABLE IN ARBITRATION.
        </p>
        <h1 class="medium-title terms-title" data-title="title-20" id="part-20"><span class="number">20.</span> Indemnification</h1>
        <hr>
        <p>
          You agree to indemnify, defend and hold Justcalltony, its subsidiaries, affiliates, officers, agents, and other 
          partners and employees, harmless from any loss, liability, claim, demand or suit, including reasonable attorney’s 
          fees, made by any Vendor/Supplier, User or third party due to, relating to or arising out of your use of the Website
          , conduct, contracts with Vendors/Suppliers, payments to Justcalltony, other interactions with Users and/or arising 
          from a breach of this Agreement and/or any breach of your representations and warranties set forth in this Agreement.
        </p>
        <h1 class="medium-title terms-title" data-title="title-21" id="part-21"><span class="number">21.</span> Survival</h1>
        <hr>
        <p>
          The following provisions shall survive termination of the Agreement: No Warranty or Endorsement, Interactions and 
          Disputes with Service Providers, Release, No Warranties, Limitations of Liability, all provisions in the Content 
          on Website section, Disclaimers, Jurisdiction and Choice of Law, Dispute Resolution, and Indemnification.
        </p>
      </div>
    </div>
  </div>
</section>