<section class="tour-wrapper fullwidth-bg below-nav">
  <div class="row">
    <div class="large-12 tour-hero-content">
      <section class="tour strapline">
        <h1>
          <span class="timeline meet-jeff">&nbsp;</span>
          <span class="timeline-circle white">&nbsp;</span>
          Meet Jeff
        </h1>
        <p>
          Jeff is frustrated that he has spent the last 4 hours trying to track down a contractor to<br>
          repair the lights in his 5,000 sf facility. He remembered one of his colleagues mentioning<br>
          a website where he could simply place an order and manage his project online and things<br>
          would get done. The colleague said "Just call Tony"
        </p>
      </section>
      <a href="#" class="down-arrrow">
        <span class="arrow">&nbsp;</span>
      </a>
    </div>
  </div>
</section>

<section class="jeff-registers fullwidth-bg">
  <div class="row">
    <div class="large-12 jeff-registers-content">
      <div class="large-6 columns no-left-padding">
        <div class="common-content-block">
          <h2>
            <span class="timeline register">&nbsp;</span>
            <span class="timeline-circle grey">&nbsp;</span>
            Jeff decides to register with JCT
          </h2>
          <p>
            After visiting justcalltony.com, Jeff is totally convinced and registers - just to see what
            happens. He is surprised how easy it was and is given a sneak peek at his own dedicated
            dashboard where he can manage his projects.
          </p>
        </div>
      </div>
      <div class="large-6 columns">
        <span class="register-image">&nbsp;</span>
      </div>
    </div>
  </div>
</section>

<section class="jeff-orders fullwidth-bg">
  <div class="row">
    <div class="large-12 jeff-registers-content">
      <div class="large-6 columns no-left-padding">
        <div class="common-content-block">
          <h2>
            <span class="timeline order">&nbsp;</span>
            <span class="timeline-circle grey">&nbsp;</span>
            Jeff places his order
          </h2>
          <p>
            Jeff types in the service he needs and when he needs it by. He gives a quick glance at the order
            summary, hits the Order button and BANG!; the order is done. Simple. Shortly thereafter, Jeff's
            dedicated JCT project manager follows up with a phone call and the work order is confirmed and
            scheduled.
          </p>
        </div>
      </div>
      <div class="large-6 columns">
        <span class="order-image">&nbsp;</span>
      </div>
    </div>
  </div>
</section>

<section class="manage-project fullwidth-bg">
  <div class="row">
    <div class="large-12 jeff-registers-content">
      <div class="large-6 columns no-left-padding">
        <div class="common-content-block">
          <h2>
            <span class="timeline manage">&nbsp;</span>
            <span class="timeline-circle white">&nbsp;</span>
            Managing the Project
          </h2>
          <p>
            Jeff also received a confirmation email with a link to his dashboard. He can see his project has been
            created and is able to track it every step of the way. That includes work details, the schedule, his
            JCT project manager and their contact information. Jeff can also send messages directly to his project
            manager if he has any questions.
          </p>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="large-6 columns">&nbsp;</div>
      </div>
    </div>
  </div>
</section>

<section class="approved fullwidth-bg">
  <div class="row">
    <div class="large-12 jeff-registers-content">
      <div class="large-6 columns no-left-padding">
        <div class="common-content-block">
          <h2>
            <span class="timeline approved">&nbsp;</span>
            <span class="timeline-circle grey">&nbsp;</span>
            Done. That was easy.
          </h2>
          <p>
            When the work is completed, Jeff's dedicated JCT project manager calls him to make sure he is satisfied.
            Jeff inspects the work and confirms he's happy. Once Jeff approves, his account is billed and credit
            card processed.
          </p>
          <p>
            Jeff can now relax knowing that an experienced supplier has done an excellent job repairing his facility
            and Jeff barely did anything. He can focus on what his real job is - running his business, not his
            building.
          </p>
        </div>
      </div>
      <div class="large-6 columns">
        <span class="aproved-image">&nbsp;</span>
      </div>
    </div>
  </div>
</section>