<div id="emergency-modal" class="reveal-modal">
  <div class="modal-title">
    <h2>Emergency</h2>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <div class="modal-body">
    <div>
      <span class="modal-icon">&nbsp;</span>
      <h2 class="modal-large-text">
        If this is an emergency service, please call our 24/7 Customer Service
        Center at <strong>800.818.4563</strong>
      </h2>
    </div>
  </div>
</div>